@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-brown-900: #634832;
  --color-brown-600: #967259;
  --color-brown-300: #dbc1ac;
  --color-brown-100: #ece0d1;

  /* Shadow */
  --shadow-normal: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);

  /* Border radius */
  /* --radius-4xl: 2rem; */

  /* fonts */

  --font-dana-demibold: "Dana DemiBold";
  --font-dana-medium: "Dana Medium";
  --font-dana-regular: "Dana Regular";

  --font-morabba-bold: "Morabba Bold";
  --font-morabba-light: "Morabba Light";
  --font-morabba-medium: "Morabba Medium";

  /* letter spacing */

  --tracking-tightest: -0.065em;

  /* breakpoint */

  --breakpoint-xs: 480px;
}

@layer base {
  /* Dana */

  @font-face {
    font-family: "Dana DemiBold"; /* 600 */
    src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium"; /* 500 */
    src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Regular"; /* 400 */
    src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }

  /* Morabba */

  @font-face {
    font-family: "Morabba Bold";
    src: url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Light";
    src: url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }

  /* body {
    background-image: url("../images/headerBgDesktop.webp");
    background-repeat: no-repeat;
  } */
}

@utility container {
  @apply mx-auto max-w-7xl px-4 lg:px-2.5;
}

/* @layer utilities {
  .bg-home-mobile {
    background-image: url("../images/headerBgMobile.webp");
  }
  .bg-home-desktop {
    background-image: url("../images/headerBgDesktop.webp");
  }
} */

@layer utilities {
  .bg-home-mobile {
    background-image: url("../images/headerBgMobile.webp");
  }

  @media (min-width: 768px) {
    .bg-home-desktop {
      background-image: url("../images/headerBgDesktop.webp");
    }
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .submenu {
    @apply mt-3 hidden flex-col gap-y-3 pr-7 text-sm text-zinc-600 dark:text-white;
  }

  .submenu--open {
    @apply flex;
  }
  .submenu__item--active {
    @apply /* position: relative; color: #fdba74; padding-right: 10px; */ relative pr-2.5 text-orange-300;
  }

  .submenu__item--active::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: #fdba74;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .overlay {
    @apply invisible fixed inset-0 z-10 h-full w-full bg-black/40 opacity-0 transition-all md:hidden;
  }
  .overlay--visible {
    @apply visible opacity-100;
  }

  .circle {
    @apply hidden items-center justify-center rounded-full border md:flex;
  }
  .circle--main {
    @apply absolute right-0 bottom-0 left-0 mx-auto translate-y-2/4;
  }
  .circle--lg {
    @apply size-50.75 border-white/25;
  }
  .circle--md {
    @apply size-36.25 border-white/50;
  }
  .circle--sm {
    @apply size-23.75 border-white/80;
  }

  @media screen and (min-width: 280px) {
    html.dark .products {
      background-image: url("../images/body-bg.png");
    }

    .products {
      background:
        linear-gradient(rgba(243, 244, 246, 0.65), rgba(243, 244, 246, 0.65)),
        url("../images/body-bg.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .section-title {
    @apply font-morabba-medium text-2xl text-zinc-700 md:text-5xl dark:text-white;
  }

  .section-subtitle {
    @apply font-morabba-light mt-0.5 inline-block text-lg text-zinc-700 md:mt-1.5 md:text-3xl dark:text-white;
  }

  .section-link {
    @apply tracking-tightest flex h-10 items-center rounded-md pr-3 pl-1 text-base text-orange-300 transition-colors md:gap-x-1 md:text-xl md:hover:bg-orange-300/20;
  }

  .offer {
    @apply relative text-gray-400;
  }

  .offer::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    inset: 0;
    top: -2px;
    margin: auto;
    background-color: #ef4444;
  }

  .category-banner__item1 {
    background:
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(243, 244, 246, 0.1) 100%
      ),
      url("../images/categories/category-right.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-banner__item2 {
    background:
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(243, 244, 246, 0.1) 100%
      ),
      url("../images/categories/category-left.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    @apply shadow-normal flex size-9 cursor-pointer items-center justify-center rounded-full bg-white text-zinc-700 transition-all hover:bg-gray-300 md:size-10 dark:bg-zinc-700 dark:text-white dark:hover:bg-white dark:hover:text-zinc-700;
  }

  .services {
    @apply relative;
  }

  .services::after,
  .services::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #d1d5db;
  }

  @media screen and (min-width: 480px) {
    .services::after,
    .services::before {
      content: none;
    }
  }

  html.dark .services::after,
  html.dark .services::before {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .services::after {
    width: 1px;
    height: calc(100% + 1.25rem);
  }
  .services::before {
    width: calc(100% - 2rem);
    height: 1px;
  }
}
